<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kupay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    <uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
	 <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
   
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ku"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kupay.SplashScreen"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
       <activity
            android:name="com.kupay.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            
        </activity>
         <activity
            android:name="com.kupay.Inicio_sesion"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            
        </activity>
        <activity
            android:name="com.kupay.Registro_seguridad"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            
        </activity>
        <activity
            android:name="com.kupay.Pregunta"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            
        </activity>
        <activity
            android:name="com.kupay.Registro"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            
        </activity>
			<activity
            android:name=".transferencia"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
             android:clearTaskOnLaunch="true"
             android:windowSoftInputMode="adjustPan|adjustResize"
                          >
        </activity>
 		<activity
            android:name=".capturaQR"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
             android:clearTaskOnLaunch="true"
             android:windowSoftInputMode="adjustPan|adjustResize"
             >
        </activity>
        <activity
            android:name=".venta"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
             android:clearTaskOnLaunch="true"
             android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
            android:name=".ventaw"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
             android:clearTaskOnLaunch="true"
             android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        <activity
            android:name=".WeatherAdapter"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
             android:clearTaskOnLaunch="true"
             android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
        
        
        
    </application>

</manifest>